<html>
<body TEXT=#000000 BGCOLOR=#FFFFFF>
<pre>


M6(VI)                       2/19/74                       M6(VI)



NAME
     m6 - general purpose macroprocessor

SYNOPSIS
     <EM>m6</EM> [ name ]

DESCRIPTION
     <EM>M6</EM>  copies  the  standard input to the standard output, with
     substitutions for any macro calls that appear.  When a  file
     name  argument  is given, that file is read before the stan-
     dard input.

     The processor is as described in the  reference  with  these
     exceptions:

       <EM>#def,arg1,arg2,arg3:</EM>  causes  <EM>arg1</EM>  to become a macro with
       defining text <EM>arg2</EM> and (optional) built-in  serial  number
       <EM>arg3</EM>.

       <EM>#del,arg1:</EM> deletes the definition of macro <EM>arg1</EM>.

       <EM>#end:</EM> is not implemented.

       <EM>#list,arg1:</EM> sends the name of the macro designated by <EM>arg1</EM>
       to the current  destination  without  recognition  of  any
       warning  characters;  <EM>arg1</EM>  is 1 for the most recently de-
       fined macro, 2 for the next most recent, and so  on.   The
       name is taken to be empty when <EM>arg1</EM> doesn't make sense.

       <EM>#warn,arg1,arg2:</EM>  replaces  the old warning character <EM>arg1</EM>
       by the new warning character <EM>arg2</EM>.

       <EM>#quote,arg1:</EM> sends the definition text of  macro  <EM>arg1</EM>  to
       the current destination without recognition of any warning
       characters.

       <EM>#serial,arg1:</EM> delivers the built-in serial number  associ-
       ated with macro <EM>arg1</EM>.

       <EM>#source,arg1:</EM> is not implemented.

       <EM>#trace,arg1:</EM>  with  <EM>arg1</EM>  = `1' causes a reconstruction of
       each later call to be placed on the standard output with a
       call  level number; other values of <EM>arg1</EM> turn tracing off.

     The built-in `warn' may  be  used  to  replace  inconvenient
     warning  characters.  The example below replaces `#' `:' `&#60;'
     `&#62;' by `[' `]' `{' `}'.

               #warn,&#60;#&#62;,[:
               [warn,&#60;:&#62;,]:
               [warn,[substr,&#60;&#60;&#62;&#62;,1,1<B>;</B>,{]
               [warn,[substr,{{&#62;&#62;,2,1<B>;</B>,}]
               [now,{calls look like this}]



                              - 1 -




M6(VI)                       2/19/74                       M6(VI)


     Every built-in function has a serial number, which specifies
     the  action  to be performed before the defining text is ex-
     panded.  The serial numbers are: 1 gt, 2 eq, 3 ge, 4  lt,  5
     ne,  6  le,  7 seq, 8 sne, 9 add, 10 sub, 11 mpy, 12 div, 13
     exp, 20 if, 21 def, 22 copy, 23 warn, 24 size, 25 substr, 26
     go,  27  gobk, 28 del, 29 dnl, 32 quote, 33 serial, 34 list,
     35 trace.  Serial number 0 specifies no built-in action.

SEE ALSO
     A. D. Hall, M6 Reference Manual.  Computer Science Technical
     Report #2, Bell Laboratories, 1969.

DIAGNOSTICS
     Various table overflows and ``impossible'' conditions result
     in comment and dump.  There are no  diagnostics  for  poorly
     formed input.

AUTHOR
     M. D. McIlroy

BUGS
     Provision should be made to extend tables as needed, instead
     of wasting a big fixed core allocation.  You  get  what  the
     PDP11 gives you for arithmetic.


































                              - 2 -


</pre>
</body>
</html>
